@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-bg: #f8f9f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.nextjs-toast,
[data-nextjs-toast],
[data-next-badge-root] {
  display: none !important;
}
body {
  /* background: var(--background); */
  background-color: var(--primary-bg);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.left-container {
  color: black;
}
.bg-primary {
  background-color: var(--primary-bg);
}
.right-container {
  color: black;
}
/* .active .nav-indicator {
  width: 4rem;
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
} */
